# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-ldvr1.asia-southeast1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=NFGVWMRT2PX4KFCF
sasl.password=l25eOPBDxyKf2k31VWaN24HbzyN2Zom2Xfq2RF3EWkpy26kABEbuueUTSUaAbfyW
# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000
